[submodule "3rd-party/stb"]
	path = 3rd-party/stb
	url = https://github.com/nothings/stb/
[submodule "3rd-party/cJSON"]
	path = 3rd-party/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "3rd-party/glfw"]
	path = 3rd-party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rd-party/cute_headers"]
	path = 3rd-party/cute_headers
	url = https://github.com/RandyGaul/cute_headers
[submodule "3rd-party/cimgui"]
	path = 3rd-party/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "src/radlib"]
	path = src/radlib
	url = https://github.com/radgeRayden/radlib
[submodule "3rd-party/soloud"]
	path = 3rd-party/soloud
	url = https://github.com/radgeRayden/soloud
