[submodule "raydEngine"]
	path = raydEngine
	url = https://github.com/radgeRayden/raydEngine
[submodule "3rd-party/stb"]
	path = 3rd-party/stb
	url = https://github.com/nothings/stb/
[submodule "3rd-party/cJSON"]
	path = 3rd-party/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "3rd-party/glfw"]
	path = 3rd-party/glfw
	url = https://github.com/glfw/glfw.git
